.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.div {
	opacity: 0.5;
}
.rowpadding {
	row-gap: 10px;
}

.light-grey {
	background-color: lightgray;
}

.padding-32 {
	padding: 32px;
}

.margin-bottom {
	margin-bottom: 16px ;
}

.w3-third{
    width:33.33333%;
}

.w3-hover-opacity:hover{
    opacity:0.60;
}

.w3-container{
	margin-top:16px;
	margin-bottom:16px;
}

.w3-opacity {
	opacity: 0.60;
}

.w3-hover-opacity:hover{
    opacity:0.60;
}

.w3-white{
	color:#FFFF;
}
.w3-justify{
    text-align:justify!important;
}

.first-div {
	width:370px;
	height:150px;
	padding-left: 25px;
	float:left;
	margin-left: 60px;
  }
  
.second-div {
	width:370px;
	height:150px;
	float:left;
	padding-left: 25px;
  }
  
.third-div {
	width:370px;
	height:150px;
	float:left;
	padding-left: 25px;
  }